<div class="form">
  <h3>Create Your Account</h3>

  <form action="/register" method="post">

    <!-- display errors for email -->
    <% if @errors && @errors[:email] %>
      <% @user.errors.get(:email).each do |error| %>
        <p class="highlight"><%= "Email #{error}" %></p>
      <% end %>
    <% end %>

    <label for="email">Email</label>
    <input class="inner-shadow" name="user[email]" type="text" value="<%= @user.try(:email) %>">

    <!-- display errors for password -->
    <% if @errors && @errors[:password] %>
      <% @user.errors.get(:password).each do |error| %>
        <p class="highlight"><%= "Password #{error}" %></p>
      <% end %>
    <% end %>

    <label for="password">Password</label>
    <input class="inner-shadow" name="user[password]" type="password" required="required" minlength="8">

    <input type="submit" value="Register" class="button">
  </form>

  <p>Already a user? <a href="/login">login</a></p>
</div>
