<div class="board">
  <div class="board-row">
    <div id="cell1" class="board-cell teal">

    </div>
    <div id="cell2" class="board-cell teal">

    </div>
    <div id="cell3" class="board-cell teal">

    </div>
    <div id="cell4" class="board-cell orange">

    </div>
    <div id="cell5" class="board-cell orange">

    </div>
    <div id="cell6" class="board-cell orange">

    </div>
    <div id="cell7" class="board-cell berry">

    </div>
    <div id="cell8" class="board-cell berry">

    </div>
    <div id="cell9" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell10" class="board-cell teal">

    </div>
    <div id="cell11" class="board-cell teal">

    </div>
    <div id="cell12" class="board-cell teal">

    </div>
    <div id="cell13" class="board-cell orange">

    </div>
    <div id="cell14" class="board-cell orange">

    </div>
    <div id="cell15" class="board-cell orange">

    </div>
    <div id="cell16" class="board-cell berry">

    </div>
    <div id="cell17" class="board-cell berry">

    </div>
    <div id="cell18" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell19" class="board-cell teal">

    </div>
    <div id="cell20" class="board-cell teal">

    </div>
    <div id="cell21" class="board-cell teal">

    </div>
    <div id="cell22" class="board-cell orange">

    </div>
    <div id="cell23" class="board-cell orange">

    </div>
    <div id="cell24" class="board-cell orange">

    </div>
    <div id="cell25" class="board-cell berry">

    </div>
    <div id="cell26" class="board-cell berry">

    </div>
    <div id="cell27" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell28" class="board-cell teal">

    </div>
    <div id="cell29" class="board-cell teal">

    </div>
    <div id="cell30" class="board-cell teal">

    </div>
    <div id="cell31" class="board-cell orange">

    </div>
    <div id="cell32" class="board-cell orange">

    </div>
    <div id="cell33" class="board-cell orange">

    </div>
    <div id="cell34" class="board-cell berry">

    </div>
    <div id="cell35" class="board-cell berry">

    </div>
    <div id="cell36" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell37" class="board-cell teal">

    </div>
    <div id="cell38" class="board-cell teal">

    </div>
    <div id="cell39" class="board-cell teal">

    </div>
    <div id="cell40" class="board-cell orange">

    </div>
    <div id="cell41" class="board-cell orange">

    </div>
    <div id="cell42" class="board-cell orange">

    </div>
    <div id="cell43" class="board-cell berry">

    </div>
    <div id="cell44" class="board-cell berry">

    </div>
    <div id="cell45" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell46" class="board-cell teal">

    </div>
    <div id="cell47" class="board-cell teal">

    </div>
    <div id="cell48" class="board-cell teal">

    </div>
    <div id="cell49" class="board-cell orange">

    </div>
    <div id="cell50" class="board-cell orange">

    </div>
    <div id="cell51" class="board-cell orange">

    </div>
    <div id="cell52" class="board-cell berry">

    </div>
    <div id="cell53" class="board-cell berry">

    </div>
    <div id="cell54" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell55" class="board-cell teal">

    </div>
    <div id="cell56" class="board-cell teal">

    </div>
    <div id="cell57" class="board-cell teal">

    </div>
    <div id="cell58" class="board-cell orange">

    </div>
    <div id="cell59" class="board-cell orange">

    </div>
    <div id="cell60" class="board-cell orange">

    </div>
    <div id="cell61" class="board-cell berry">

    </div>
    <div id="cell62" class="board-cell berry">

    </div>
    <div id="cell63" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell64" class="board-cell teal">

    </div>
    <div id="cell65" class="board-cell teal">

    </div>
    <div id="cell66" class="board-cell teal">

    </div>
    <div id="cell67" class="board-cell orange">

    </div>
    <div id="cell68" class="board-cell orange">

    </div>
    <div id="cell69" class="board-cell orange">

    </div>
    <div id="cell70" class="board-cell berry">

    </div>
    <div id="cell71" class="board-cell berry">

    </div>
    <div id="cell72" class="board-cell berry">

    </div>
  </div>
  <div class="board-row">
    <div id="cell73" class="board-cell teal">

    </div>
    <div id="cell74" class="board-cell teal">

    </div>
    <div id="cell75" class="board-cell teal">

    </div>
    <div id="cell76" class="board-cell orange">

    </div>
    <div id="cell77" class="board-cell orange">

    </div>
    <div id="cell78" class="board-cell orange">

    </div>
    <div id="cell79" class="board-cell berry">

    </div>
    <div id="cell80" class="board-cell berry">

    </div>
    <div id="cell81" class="board-cell berry">

    </div>
  </div>
</div>

<div class="selected-word">

</div>

<form class="submit" action="/games" method="post">
  <input type="submit" value="submit">
</form>
