<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,700|Pacifico|Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery-2.2.4.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="wrapper">
      <nav class="full-width-bar clear">
        <div class="session-links">
          <% if current_user %>
            <span class="gray">Welcome: <%= current_user.email %></span>
            <form class="linkify" action="/logout" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit" value="logout"/>
            </form>
          <% else %>
            <a href="/login">login</a>
            <a href="/register">register</a>
          <% end %>
        </div>
      </nav>
      <header>
        <h1 class="title masthead"><a href="/">Belch!</a></h1>
      </header>
      <%= yield %>
    </div>
</body>
</html>
