<div class="shall-not-pass">
<img src="https://media.giphy.com/media/njYrp176NQsHS/giphy.gif" class="shall-not-pass" />
</div>
<% if current_user %>
  <p class="center-text">Mind Your Own Beeswax!</p>
<% else %>
  <p class="center-text">Go log in <a href="/login">login</a> or <a href="/register">create your own account</a></p>
<% end %>
